@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>This is my first Web apps with ASP.NET Core</a>.</p>
    <p>This is my first commit in Web apps with ASP.NET Core</a>.</p>
    <p>This is my second commit in Web apps with ASP.NET Core</a>.</p>
    <p>Test Pipeline 1</p>
</div>
